{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <div role="main" class="main">
        <section class="page-header page-header-classic page-header-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <span class="page-header-title-border visible" style="width: 85.3833px;"></span>
                        <h1 data-title-border="">About Us</h1>
                    </div>
                </div>
            </div>
        </section>

        {% for about in abouts %}
            <section
                    class="section section-default border-0 my-5 appear-animation animated fadeIn appear-animation-visible"
                    data-appear-animation="fadeIn" data-appear-animation-delay="750" style="animation-delay: 750ms;">
                <div class="container py-4">

                    <div class="row align-items-center">
                        <div class="col-md-6 appear-animation animated fadeInLeftShorter appear-animation-visible"
                             data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000"
                             style="animation-delay: 1000ms;">
                            <div class="owl-carousel owl-theme nav-inside mb-0 owl-loaded owl-drag owl-carousel-init"
                                 data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}"
                                 style="height: auto;">


                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(-1380px, 0px, 0px); transition: all 0s ease 0s; width: 2760px;">
                                        <div class="owl-item cloned" style="width: 450px; margin-right: 10px;">
                                                <div>
                                                    <img alt="{{ about.title }}" class="img-fluid"
                                                         src="{{ about.image.url  }}">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="overflow-hidden mb-2">
                                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible"
                                    data-appear-animation="maskUp" data-appear-animation-delay="1200"
                                    style="animation-delay: 1200ms;">{{ about.title }}</h2>
                            </div>
                            <p>{{ about.description }}</p>
                        </div>
                    </div>

                </div>
            </section>
        {% endfor %}



        <section class="section section-default border-0 my-5">
            <div class="container py-4">

                <div class="row">
                    <div class="col pb-4 text-center">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Meet <strong
                                class="font-weight-extra-bold">Our Team</strong></h2>
                        <p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
                    </div>
                </div>
                <div class="row pb-4 mb-2">
                    <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible"
                         data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms;">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-1.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">John Doe</span>
												<span class="thumb-info-type">CEO</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="http://www.facebook.com"><i
                                                    class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i
                                                    class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible"
                         data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"
                         style="animation-delay: 200ms;">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-2.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Jessica Doe</span>
												<span class="thumb-info-type">Marketing</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="http://www.facebook.com"><i
                                                    class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i
                                                    class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation animated fadeInRightShorter appear-animation-visible"
                         data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400"
                         style="animation-delay: 400ms;">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-3.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Rick Edward Doe</span>
												<span class="thumb-info-type">Developer</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="http://www.facebook.com"><i
                                                    class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i
                                                    class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-sm-6 col-lg-3 appear-animation animated fadeInRightShorter appear-animation-visible"
                         data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="about-me.html">
											<img src="img/team/team-4.jpg" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Melinda Wolosky</span>
												<span class="thumb-info-type">Design</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
										<span class="thumb-info-social-icons">
											<a target="_blank" href="http://www.facebook.com"><i
                                                    class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i
                                                    class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row py-5 my-5">
                <div class="col">

                    <div class="owl-carousel owl-theme mb-0 owl-loaded owl-drag owl-carousel-init"
                         data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}"
                         style="height: auto;">


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(-1727px, 0px, 0px); transition: all 0.25s ease 0s; width: 2923px;">
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-3.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-5.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-6.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-1.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-3.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-5.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-6.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-1.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-3.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned active" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-5.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-6.png" alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 132.857px;">
                                    <div>
                                        <img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev"></button>
                            <button type="button" role="presentation" class="owl-next"></button>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}