{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}

{% block content %}
    <div class="container py-4">

        <div class="row">
            {% render_partial "shop_blog.views.blog_sidebar" %}
            <div class="col-lg-9">
                <div class="blog-posts">

                    <div class="row px-3">

                        {% for blog in object_list %}
                            <div class="col-sm-6">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <a href="{{ blog.get_blog_url }}">
                                            <img src="{{ blog.image.url }}"
                                                 class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                                                 alt="">
                                        </a>
                                    </div>

                                    <div class="post-content">

                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a
                                                href="{{ blog.get_blog_url }}">{{ blog.title }}</a></h2>
                                        <p>{{ blog.description|truncatechars:100 }}</p>

                                        <div class="post-meta">
                                            <span><i class="far fa-user"></i> By {{ blog.author.get_full_name }} </span>
                                            <span class="d-block mt-2"><a href="{{ blog.get_blog_url }}"
                                                                          class="btn btn-xs btn-light text-1 text-uppercase">Read More</a></span>
                                        </div>

                                    </div>
                                </article>
                            </div>
                        {% endfor %}


                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="pagination float-right">
                               <li class="page-item">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                    <i class="fas fa-angle-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </li>
                                    {% for page in paginator.page_range %}
                                        {% if page == page_obj.number %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="?page={{ page }}">{{ page }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                <i class="fas fa-angle-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}